# Завдання

#### 1. Створіть датафрейм розміром 15*5, що містить наступні дані: ####

а) ім'я та прізвище студента;

б) середній бал;

в) оцінка за поточний екзамен;

г) кількість спроб здачі поточного екзамену.

#### 2. Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс. ####

#### 3. Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів. ####

#### 4. Виведіть кількість студентів, що здали поточний екзамен з першого разу. ####

#### 5. Збережіть будь-які дані з датафрейму у вигляді серії. ####

# Розв'язок #

In [1]:
import pandas as pd

#### 1. Створення датафрейму розміром 15*5: ####

In [2]:
students = pd.read_excel("dz32_dod.xlsx")
students

,Прізвище студента,Ім'я студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену
0,Алдушин,Микита,85.0,80,1
1,Артеменко,Яна,60.0,62,2
2,Борисов,Арсеній,90.5,92,1
3,Бронза,Вікторія,58.0,57,3
4,Вакулова,Юлія,75.0,74,1
5,Вінник,Валентин,95.0,98,1
6,Галенко,Лідія,62.5,63,2
7,Гокунь,Вікторія,74.0,80,1
8,Єфімова,Ілля,80.0,90,1
9,Залізняк,Ольга,65.0,70,2
10,Ігнатенко,Олександра,90.0,100,1
11,Кириленко,Єва,55.5,50,3
12,Киричатий,Ілля,82.0,85,1
13,Кривошапка,Максим,72.5,80,1
14,Лушников,Василь,95.0,95,1

In [3]:
print("Розмір виведено датафрейму становить: ", students.shape)

Розмір виведено датафрейму становить:  (15, 5)

#### 2. Додавання до датафрейму стовпчику: ####

In [4]:
mean_mark = []
for value in students[("Середній бал")]:
    if value >= 60:
        mean_mark.append("Допуск")
    else:
        mean_mark.append("Не допуск")
students["Допуск на наступний курс"] = mean_mark
students

,Прізвище студента,Ім'я студента,Середній бал,Оцінка за поточний екзамен,Кількість спроб здачі поточного екзамену,Допуск на наступний курс
0,Алдушин,Микита,85.0,80,1,Допуск
1,Артеменко,Яна,60.0,62,2,Допуск
2,Борисов,Арсеній,90.5,92,1,Допуск
3,Бронза,Вікторія,58.0,57,3,Не допуск
4,Вакулова,Юлія,75.0,74,1,Допуск
5,Вінник,Валентин,95.0,98,1,Допуск
6,Галенко,Лідія,62.5,63,2,Допуск
7,Гокунь,Вікторія,74.0,80,1,Допуск
8,Єфімова,Ілля,80.0,90,1,Допуск
9,Залізняк,Ольга,65.0,70,2,Допуск
10,Ігнатенко,Олександра,90.0,100,1,Допуск
11,Кириленко,Єва,55.5,50,3,Не допуск
12,Киричатий,Ілля,82.0,85,1,Допуск
13,Кривошапка,Максим,72.5,80,1,Допуск
14,Лушников,Василь,95.0,95,1,Допуск

#### 3. Виведення мінімального, максимального, середнього та медіанного показників середнього балу студентів: ####

In [5]:
students["Середній бал"].agg(["min", "max", "mean", "median"])

min       55.5
max       95.0
mean      76.0
median    75.0
Name: Середній бал, dtype: float64

#### 4. Виведення кількості студентів, що здали поточний екзамен з першого разу: ####

In [6]:
len(students[students["Кількість спроб здачі поточного екзамену"] == 1])

10

#### 5. Збереження стовпчика "Прізвище студента" з датафрейму у вигляді серії: ####

In [7]:
last_names = students[("Прізвище студента")]
last_names

0        Алдушин
1      Артеменко
2        Борисов
3         Бронза
4       Вакулова
5         Вінник
6        Галенко
7         Гокунь
8        Єфімова
9       Залізняк
10     Ігнатенко
11     Кириленко
12     Киричатий
13    Кривошапка
14      Лушников
Name: Прізвище студента, dtype: object

In [8]:
print(type(last_names))

<class 'pandas.core.series.Series'>