# Завдання

Проведіть крос-валідацію для моделі, побудованої на основі датафрейму student_scores з попереднього завдання. Обґрунтуйте обраний метод крос-валідації.

# Розв'язок

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn import linear_model, tree, ensemble

In [2]:
train_data = pd.read_csv('student_scores.csv')
train_data

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [3]:
X = train_data[['Hours']]
y = train_data['Scores']

In [7]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
cnt = 1
for train_index, test_index in kf.split(X, y):
    print(f'Fold: {cnt}, Train set: {len(train_index)}, Test set: {len(test_index)}')
    cnt+=1

Fold: 1, Train set: 20, Test set: 5
Fold: 2, Train set: 20, Test set: 5
Fold: 3, Train set: 20, Test set: 5
Fold: 4, Train set: 20, Test set: 5
Fold: 5, Train set: 20, Test set: 5

In [8]:
def rmse(score):
    rmse = np.sqrt(-score)
    print(f'rmse= {"{:.2f}".format(rmse)}')

In [9]:
score = cross_val_score(linear_model.LinearRegression(), X, y, cv = kf, scoring="neg_mean_squared_error")
print(f'Scores for each fold: {score}')
rmse(score.mean())

Scores for each fold: [-18.94321172 -25.59134275 -65.56533746 -31.60146724 -29.95977935]
rmse= 5.86

Таким чином, враховуючи значення розрахованих показників, застосування методу К-кратної крос-валідації для тренування та оцінювання моделі лінійної регресії дало досить точний результат. Було обрано метод саме К-кратної крос-валідації зважаючи на те, що аналізовані дані вибірки є досить збалансованими та рівномірними.